@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flexRowSpaceBetween {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin flexRowSpaceAround {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@mixin flexRowSpaceEvenly {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flexColSpaceBetween {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin flexColSpaceAround {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@mixin flexColSpaceEvenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}