// COLORS
$color-bg: #E0E4EC;
$color-white: #FFFFFF;
$color-white-1: #F2F2F2;
$color-black: #000000;
$color-black-b: #1E1E1E;
$color-gray: #C1C1C1;
$color-blue: #08299B;
$color-blue-light: #88B3DB;
$color-gold: #E08734;
$color-red: #FF0000;
$color-green: #00FF00;
$color-navy: #697A9B;
$color-ash: #BFCAE0;
$color-ash-dark: #8193B8;
$color-brown: #837D7D;

// FONT FAMILY
$font-sans: "DM Sans",
sans-serif;
$font-inter: "Inter",
sans-serif;

// FONT SIZE
$font-size: 1rem;
$font-size-1: 1.2rem;
$font-size-2: 1.4rem;
$font-size-3: 1.6rem;
$font-size-4: 1.8rem;
$font-size-5: 2rem;
$font-size-6: 2.2rem;
$font-size-7: 2.4rem;
$font-size-8: 2.6rem;
$font-size-9: 2.8rem;
$font-size-10: 3rem;

// FONT WEIGHT
$font-weight-sm: 300;
$font-weight-md: 500;
$font-weight-md-1: 600;
$font-weight-bd: 700;
$font-weight-bds: 900;

// BORDER RADIUS
$border-radius: 50%;
$border-radius-sm: 1rem;
$border-radius-md: 1.5rem;

// LINE HEIGHT
$line-height-1: 135%;
$line-height-2: 150%;

// LETTER SPACING
$space: -0.011em;