// COLORS
$bg-color: #E0E4EC;
$color-white: #FFFFFF;
$color-black: #000000;
$color-black-b: #1E1E1E;
$color-gray: #C1C1C1;
$color-blue: #08299B;

// FONT FAMILY
$font-sans: "DM Sans";
$font-inter: "Inter";

// FONT SIZE
$font-size: 1rem;
$font-size-1: 1.2rem;
$font-size-2: 1.4rem;
$font-size-3: 1.6rem;
$font-size-4: 1.8rem;
$font-size-5: 2rem;
$font-size-6: 2.2rem;
$font-size-7: 2.4rem;
$font-size-8: 2.6rem;
$font-size-9: 2.8rem;
$font-size-10: 3rem;

// FONT WEIGHT
$font-weight-sm: 300;
$font-weight-md: 500;
$font-weight-bd: 700;
$font-weight-bds: 900;

// BORDER RADIUS
$border-radius: 50%;
$border-radius-sm: 1rem;