.persistContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg);
    z-index: 30000;
}

.logo {
    width: 60px;
    height: 60px;
    margin-bottom: 1.2rem;
}

.loadingText {
    color: var(--color-blue);
    font-weight: 600;
    font-size: 1rem;
}