@use "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.footer {
  background-color: $color-bg;
  width: 100%;
  height: 100%;
  @include mixins.flexRowSpaceBetween;
  gap: 1rem;
  padding: 1rem 2rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .1rem;
    background-color: $color-blue-light;
  }

  .box1 {
    flex-basis: 10%;
    height: 100%;
    @include mixins.flexCol;
    gap: 1rem;
  }

  .logo {
    display: block;
    width: 10rem;
    height: 10rem;
  }

  .box2 {
    flex-grow: 1;
    @include mixins.flexRowFlexEnd;
    gap: 5rem;
    padding: 0 5rem;

    .content {
      height: 10rem;
      @include mixins.flexCol;
      gap: 1rem;

      .title {
        font-size: 1.5rem;
        font-weight: 700;
        color: $color-blue-light;
      }

      .link,
      &:active,
      &:visited {
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        transition: all .3s ease-in-out;

        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}