.bg {
  width: 100%;
  height: 100%;
  background: url('../../assets/images/equipments.jpeg'),
    radial-gradient(50% 50% at 50% 50%, #ffffff 0%, rgba(188, 197, 214, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.content {
  padding: 0rem 10rem;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: -0.011em;
}

.header {
  color: #08299b;
  font-size: 3rem;
}

.subhead {
  color: #000000;
  font-size: 3rem;
}

.text {
  font-size: 2rem;
  color: #333232;
}

.img {
  width: 100%;
  height: 30rem;
  position: absolute;
  z-index: -1;
}

@media (min-width: 37.5625em) {
  .container {
    width: 100%;
    margin: 5rem 2rem;
  }

  .content {
    padding: 1rem 2.5rem;
  }
}

@media (min-width: 48.0625em) {
  .img {
    position: unset;
    z-index: unset;
  }
}
