@use "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.smallHeader {
  background-color: $color-white;
  width: 100%;
  height: 6rem;
  @include mixins.flexRowSpaceBetween;
  box-shadow: 0 4px 4px rgba(14, 61, 183, 0.15);
  position: fixed;
  top: 0;
  z-index: 1000;

  @include mixins.respond(phone-nm) {
    height: 5rem;
  }

  @include mixins.respond(tab-land) {
    display: none;
  }

  .smallLogo {
    width: 10rem;
    height: 10rem;
    z-index: 1000;
  }

  .menu {
    position: relative;

    .toggle {
      position: fixed;
      top: 1rem;
      right: 3rem;
      z-index: 500;
      background-color: $color-blue;
      padding: 1rem;
      border-radius: $border-radius;
      transition: all 0.5s ease-in-out;
      @include mixins.flexRow;

      @include mixins.respond(phone-nm) {
        top: .5rem;
        padding: .7rem
      }

      &_icon {
        font-size: $font-size-8;
        font-weight: $font-weight-bd;
        color: #2196F3;

        @include mixins.respond(phone-nm) {
          font-size: $font-size-5;
        }
      }
    }

    .smallNav {
      position: fixed;
      top: 0;
      right: 0;
      width: 0;
      z-index: 200;
      @include mixins.flexCol;
      gap: 5rem;
      overflow: hidden;
    }

    .show {
      width: 45%;
      height: 100%;
      background-color: $color-white-1;
      transition: all 0.5s ease-in-out;
    }

    .smallList {
      @include mixins.flexColAlignStart;
      gap: 2rem;
      list-style-type: none;

      .smallItem {
        @include mixins.flexRow;
        gap: 1rem;

        .smallLink {
          font-family: $font-sans;
          font-size: $font-size-5;
          font-weight: $font-weight-md;
          transition: all 0.5s ease-in-out;
        }

        .smallIcon {
          font-size: $font-size-6;
          color: #2196F3;
        }

        .smallFind {
          font-family: $font-sans;
          font-size: $font-size-5;
          font-weight: $font-weight-md;
          color: $color-black-b !important;
          transition: all 0.5s ease-in-out;
        }
      }
    }

    .smallWrapper {
      width: 70%;
      @include mixins.flexRow;
      gap: 3rem;
      margin: 0 auto;

      .smallAuth {
        border-radius: $border-radius-sm;
        background-color: $color-blue;
        color: $color-white !important;
        font-family: $font-sans;
        font-size: $font-size-5;
        letter-spacing: -0.011em;
        padding: .2rem .8rem;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

.logout {
  background-color: $color-red;
  border-radius: $border-radius-sm;
  padding: .2rem .8rem;

  .smallSpan {
    @include mixins.flexRow;
    gap: .3rem;
    font-size: $font-size-3;
    font-family: $font-sans;
  }

  .smallIcon {
    font-size: $font-size-3;
  }
}

.large {
  display: none;

  @include mixins.respond(tab-land) {
    display: block;
    width: 100%;
    height: 5rem;
    @include mixins.flexRowSpaceBetween;
    box-shadow: 0 4px 4px rgba(14, 61, 183, 0.15);
    padding: 1rem 2rem;
  }

  .largeLogo {
    width: 10rem;
    height: 10rem;
    z-index: 1000;
  }

  .largeNav {
    @include mixins.flexRow;
    gap: 5rem;

    .largeList {
      @include mixins.flexRow;
      gap: 3.5rem;
      list-style-type: none;

      .largeItem {
        @include mixins.flexRow;
        gap: .5rem;

        .largeLink {
          font-family: $font-sans;
          font-size: $font-size-2;
          font-weight: $font-weight-md;
          transition: all 0.5s ease-in-out;
        }

        .largeIcon {
          font-size: $font-size-3;
          color: #2196F3;
        }

        .largeFind {
          font-family: $font-sans;
          font-size: $font-size-2;
          font-weight: $font-weight-md;
          color: $color-black-b !important;
          transition: all 0.5s ease-in-out;
        }
      }
    }

    .largeWrapper {
      @include mixins.flexRow;
      gap: 2rem;

      .largeAuth {
        border-radius: $border-radius-sm;
        background-color: $color-blue;
        color: $color-white !important;
        font-family: $font-sans;
        font-size: $font-size-2;
        letter-spacing: -0.011em;
        padding: .1rem .8rem;
        transition: all 0.5s ease-in-out;
      }

      .largeSpan {
        @include mixins.flexRow;
        gap: .3rem;
        font-size: $font-size-3;
        font-family: $font-sans;
        font-weight: $font-weight-md;
      }

      .largeIcon {
        font-size: $font-size-4;
      }
    }
  }
}