.langSelector {
  display: flex;
  align-items: center;
  background: var(--color-ash);
  padding: 0.75rem 1rem;
  border-radius: 0.8rem;
  border: 1px solid var(--color-border);
  transition: all 0.2s ease;
  position: relative;
}

.langSelector:hover {
  border-color: var(--color-blue);
  background: var(--color-white);
}

.globe_icon {
  color: var(--color-blue);
  display: flex;
  align-items: center;
}

.nativeSelect {
  background: transparent !important;
  border: none !important;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-black);
  cursor: pointer;
  outline: none;
  font-family: inherit;
  appearance: none;
  padding: 0.1rem 1rem;
}

.nativeSelect option {
    background: var(--color-white);
    padding: 0.5rem 1rem !important;
}

.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0 !important;
}
