@use "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.bg {
  background-color: $color-white;
  height: 100%;
  width: 100%;
  padding: 2rem 0;

  .wrapper {
    @include mixins.flexCol;
    gap: 2rem;
    padding: 1rem;

    .top {
      width: 100%;
      text-align: center;
      @include mixins.flexCol;
      gap: 2rem;
      font-family: $font-sans;

      .title {
        font-size: $font-size-7;
        font-weight: $font-weight-md;
        color: $color-black;
        line-height: $line-height-2;
        letter-spacing: $space;

        .span {
          color: $color-blue;
          font-weight: $font-weight-bd;
          font-size: $font-size-8;
        }
      }

      .para {
        font-size: $font-size-4;
        font-weight: $font-weight-md;
        color: $color-black;
        line-height: $line-height-2;
        letter-spacing: $space;
        margin-bottom: 1rem;
      }

      .cta {
        font-size: $font-size-2;
        font-weight: $font-weight-bd;
        color: $color-white;
        line-height: $line-height-2;
        letter-spacing: $space;
      }
    }

    .img {
      width: 100%;
      @include mixins.flexRow;
      gap: 1rem;
      padding: 0 1rem;

      .img_1 {
        width: 100%;
        transform: translateY(1rem);
      }

      .img_2 {
        width: 100%;
        transform: translateY(5rem);
      }
    }
  }

  .container {
    width: 100%;
    @include mixins.flexRow;
    gap: 1rem;
    margin-top: 10rem;

    .box {
      background-color: $color-bg;
      width: 33.3333%;
      height: 15rem;
      border-radius: $border-radius-sm;
      @include mixins.flexColFlexStart;
      gap: 2rem;
      padding-top: 1rem;

      .icon_box {
        background-color: $color-blue;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: $border-radius;
        padding: 1rem;
        @include mixins.flexCol;


        .icon {
          width: 3rem;
          height: 3rem;
          fill: $color-white;
        }
      }
    }

    .box2 {
      width: 100%;
      @include mixins.flexCol;
      gap: 1.5rem;
      padding: 0 1.5rem;
      text-align: center;
      font-family: $font-sans;
      color: $color-black;
      line-height: $line-height-2;
      letter-spacing: $space;

      .title {
        font-size: $font-size-1;
        font-weight: $font-weight-bd;
      }

      .subtitle {
        font-size: $font-size;
        font-weight: $font-weight-md;
      }
    }
  }

  .semiCircle_bg {
    width: 95%;
    height: 45rem;
    position: relative;
    overflow: hidden;
    margin: 10rem auto;

    .semiCircle {
      width: 100%;
      height: 45rem;
      position: absolute;
      background-color: transparent;
      border-radius: 50% / 100% 100% 0 0;
    }

    .one {
      background: $color-ash;
      top: 0%;
    }

    .two {
      background: $color-ash-dark;
      top: 25%;
    }

    .three {
      background: $color-navy;
      top: 50%;
    }

    .heading {
      position: absolute;
      top: 8%;
      right: 42.5%;
      font-family: $font-sans;
      color: $color-blue;
      font-size: $font-size-5;
      font-weight: $font-weight-bd;
      line-height: $line-height-2;
      letter-spacing: $space;
    }

    .content {
      position: relative;

      .item {
        @include mixins.flexCol;
        gap: 1rem;
        padding: 0 1rem;
        text-align: center;
        font-family: $font-sans;
        color: $color-black;
        line-height: $line-height-2;
        letter-spacing: $space;
        width: 25%;
        position: absolute;

        .head {
          font-size: $font-size-1;
          font-weight: $font-weight-bd;
        }

        .text {
          font-size: $font-size;
          font-weight: $font-weight-md;
        }

        .arrow {
          display: flex;
          align-items: center;
          position: absolute;

          .arrow_line {
            width: 8rem;
            height: .2rem;
            background-color: $color-white;
          }

          .arrow_head {
            width: 0;
            height: 0;
            border-top: 1rem solid transparent;
            border-bottom: 1rem solid transparent;
            border-left: 1rem solid $color-white;
          }
        }
      }
    }
  }

  .review {
    width: 100%;
    height: 100%;
    @include mixins.flexCol;
    gap: 1rem;
    padding: 1rem;

    .review_title {
      font-family: $font-sans;
      color: $color-brown;
      font-size: $font-size-5;
      font-weight: $font-weight-md;
      line-height: $line-height-2;
      letter-spacing: $space;
      position: relative;

      .review_title_span {
        border: 1px solid $color-blue-light;
        transform: rotate(-90deg);
        width: 4rem;
        position: absolute;
        top: 1rem;
        left: -2.5rem;
      }
    }

    .review_subtitle {
      font-family: $font-sans;
      color: $color-blue;
      font-size: $font-size-7;
      font-weight: $font-weight-md;
      line-height: $line-height-2;
      letter-spacing: $space;
    }

    .review_container {
      width: 100%;
      height: 100%;
      @include mixins.flexRow;
      gap: 2.5rem;

      .review_box {
        box-shadow: 0px 4px 4px $color-ash;
        background: $color-bg;
        border-radius: $border-radius-sm;
        width: 100%;
        height: 100%;
        @include mixins.flexColAlignStart;
        gap: .5rem;
        padding: 2rem 2rem .5rem;

        .review_text {
          font-family: $font-sans;
          color: $color-black;
          font-size: $font-size-1;
          font-weight: $font-weight-md;
          line-height: $line-height-2;
          letter-spacing: $space;
        }

        .star {
          display: flex;
          align-items: center;
          gap: .1rem;

          .star_icon {
            width: 1.5rem;
            height: 1.5rem;
            fill: $color-gold;
          }
        }

        .user {
          @include mixins.flexRow;
          gap: 1rem;

          .name {
            font-family: $font-sans;
            color: $color-black;
            font-size: $font-size-1;
            font-weight: $font-weight-bd;
            text-align: center;
            line-height: $line-height-2;
            letter-spacing: $space;
          }
        }
      }
    }
  }
}

.content1 {
  top: 10rem;
  left: 10%;
}

.content2 {
  top: 19rem;
  left: 33%;
}

.content3 {
  top: 10rem;
  left: 55%;
}

.content4 {
  top: 25rem;
  left: 73%;
}

.arrow1 {
  top: 7rem;
  left: 70%;
  transform: rotate(40deg);
}

.arrow2 {
  top: -2rem;
  left: 65%;
  transform: rotate(-25deg)
}

.arrow3 {
  top: 8.5rem;
  left: 71%;
  transform: rotate(50deg);
}