@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flexRowSpaceBetween {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin flexRowSpaceAround {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@mixin flexRowSpaceEvenly {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flexRowAlignFlexStart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flexRowFlexStart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexRowFlexEnd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

@mixin flexColSpaceBetween {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin flexColFlexStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexColAlignStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexColSpaceEvenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

// MEDIA QUERY MANAGER
// 0 ==> 480px        phone-sm
// 481px ==> 600px    phone-nm
// 601px ==> 768px    tab-port
// 769px ==> 900px   tab-land
// 901px ==> 1200px   laptop
// 1201px ==> 1800px  desktop
// 1801px >==  large-screen

// 16px ==> 1em

@mixin respond($breakpoint) {
  @if $breakpoint==phone-sm {
    @media only screen and (max-width: 30em) {
      @content;
    }
  }

  @if $breakpoint==phone-nm {
    @media only screen and (min-width: 30.0625em) {
      @content;
    }
  }

  @if $breakpoint==tab-port {
    @media only screen and (min-width: 37.5625em) {
      @content;
    }
  }

  @if $breakpoint==tab-land {
    @media only screen and (min-width: 48.0625em) {
      @content;
    }
  }

  @if $breakpoint==laptop {
    @media only screen and (min-width: 56.3125em) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 75.0625em) {
      @content;
    }
  }

  @if $breakpoint==large-screen {
    @media only screen and (min-width: 112.5625em) {
      @content;
    }
  }
}