@use "../../../assets/styles/mixins"as mixins;
@import "../../../assets/styles/variables";

.findSection {
  width: 100%;
  height: 100%;
  @include mixins.flexColAlignStart;
  gap: 1rem;
  padding-top: 5rem;
  background-color: #f0fbff;

  @include mixins.respond(tab-land) {
    padding-top: 0;
  }

  .search {
    width: 100%;
    height: 36rem;
    position: relative;

    .map {
      width: 100%;
      height: 35.5rem;
      position: absolute;
      top: 0;
      left: 0;
    }

    .container {
      @include mixins.flexRow;
      gap: 3rem;
      width: 100%;
      padding: 0 5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .form {
        width: 80%;
        @include mixins.flexCol;
        gap: 1.5rem;
        z-index: 1;

        @include mixins.respond(phone-nm) {
          width: 70%;
        }

        @include mixins.respond(laptop) {
          width: 50%;
        }

        .input {
          height: 3.5rem;
          width: 100%;
          border-radius: $border-radius-sm;
          background-color: $color-white;
          color: $color-black;
          font-family: $font-sans;
          font-size: $font-size-4;
          letter-spacing: -0.02063rem;
          line-height: $line-height-2;
          padding: 0 1rem;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $color-gray;
            font-size: $font-size-1;
          }
        }

        .cta {
          border-radius: $border-radius-md;
          border: 1px solid $color-gray;
          background: $color-blue;
          outline: none;
          @include mixins.flexRow;
          padding: .4rem 1rem;

          &:active {
            background: $color-white-1;
            color: $color-blue;
            border: 1px solid $color-blue;
          }


          .icon {
            font-size: $font-size-6;
            fill: $color-white;

            &:active {
              fill: $color-blue;
            }
          }
        }
      }
    }

    .error {
      font-size: $font-size-4;
      font-weight: $font-weight-md;
      color: $color-red;
      letter-spacing: $space;
      text-align: center;
    }
  }

  .hospitals {
    width: 100%;
    height: 100%;

    .found {
      @include mixins.flexCol;
      gap: 1rem;
      width: 100%;

      .cta_btn {
        @include mixins.flexRow;
        gap: 5rem;
        width: 100%;
        margin: 1.5rem;
      }
    }
  }
}